.oil-single-wrapper {
  background-color: white;
  padding: 20px;
  max-width: 1200px;
  .header-wrapper{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgba(239, 239, 239, 0.655);
    border-radius: 10px;
    .title-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h2 {
        font-style: italic;
      }
      .categories-container {
        display: flex;
        div {
          margin-right: 15px;
        }
        img {
          max-width: 100px;
        }
      }
    }
  .header-image {
    img {
      max-width: 500px;
      border-radius: 50%
    }
  }
  }
}

.benefits-wrapper{
  background-color: $lightbg;
  border-radius: 10px;
  // border-right: 5px solid white;
  padding: 20px;
}

.bio{
  // border-left: 5px solid white;
  background-color: $beigebg;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  p {
    font-style: italic;
  }
}

.categories-container {
  display: flex; 
  text-align: center;
  .category-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: flex-start;
    text-align: center;
    margin-right: 15px;
    max-width: 100px;
    p {
      font-size: 0.8rem;
    }
  }
  .category {
    // display: flex;
    // flex-direction: column;
    // align-items:  center;
    // justify-content: flex-start;
    // text-align: center;
    // margin-right: 15px; 
    // background-color: white;
    background-color: $beigebg;
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 200px;
    img {
      max-width: 60px;
      // max-height: 70px;
    }
    p {
      font-size: 0.7rem;
    }
  }
}