.search-wrapper{

  .header-wrapper {
    background-color: transparent;
   h1{
    font-weight: bold;
    font-style: italic;
   }
  }
}
.about-row {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  .profile{
    h5{
      font-weight: bold;

    }


    border-radius: 5px;
    background-color: rgb(247, 243, 238);
    padding: 20px;

  }
  .profile-link{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 25px;

    a {
      img {
        max-width: 200px;
        height: 70%;
       

      }
    }
  }
}

footer {
  background-color: rgba(252, 246, 239, 0.71);
  padding: 10px;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: black;
    font-style: italic;
    &:hover{
      color: rgb(31, 39, 18);
      text-decoration: underline;
    }
  }
}