.form-wrapper{
  max-width: 500px;
  margin-top: 60px;
  justify-content: center;
  padding: 10px;
  text-align: center;
  form {
    border-radius: 15px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 25px;
    background-color: rgb(251, 249, 247);
  }
  .row {
    justify-content: center;
    margin: auto;
    text-align: left;
    label {
      padding: 0px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    input {
      border-radius: 10px;
      border: 1px solid rgb(222, 222, 222);
      padding-left: 20px;
      background-color: rgb(245, 245, 245);
      margin-bottom: 10px;
      padding: 10px;
      &:focus {
        outline: none;
        border: 1px solid #EBD35D;
      }
    }
  }

  .btn {
    margin-top: 20px;
    text-align: center;
    width: 40%;
    background-color: #404F45;

    border: none;
    color: white;
    &:hover{
      background-color: #2a342d;
      color: white;

    }
  }

  a {
    text-decoration: none;
    color: rgb(209, 7, 77);
  }
  textarea {
    width: 100%;
    max-height: 212px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: rgb(245, 245, 245);
    color: grey;
    font-size: 0.9rem;
    padding: 10px;
  }
}

