.hero-container {
  height: 500px;
  background-image: linear-gradient(0deg, rgba(113, 164, 253, 0.231), rgba(255, 255, 255, 0.5)), url('../../images/hero_image.jpeg'); 
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  /* lavender-1200x1200 1 */


  .hero-overlay{
    // background-color: rgb(255, 255, 255, 0.4);
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px;
    width: 50%;
  }
  h1 {
    font-weight: bold;
    font-style: italic;
    font-size:50px;
  }
  p {
    font-size: 20px;
  }
}

.home-wrapper{
  justify-content: center;
  text-align: left;
  max-width: 1200px;
  // background-color: antiquewhite;
  .title-container{
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    background-color: rgb(232, 232, 232);
    border-radius: 15px 15px 0px 0px;

  }
  .home-essentials {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
 
    
    text-align: center;
    h2 {
      font-weight: bold;
      font-style: italic;
    }
    // background-color: rgba(239, 239, 239, 0.655);

  }
  .home-bases {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    background-color: rgba(239, 239, 239, 0.655);

  }
}

.bases-text, .essentials-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-text-wrapper {
  max-width: 80%;
  // text-align: justify;
}

.oil-swipe {
  // background-color: rgb(232, 232, 232);
  border-radius: 15px;
  padding: 10px 15px;

  .oil-box {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    height: 90%;
    width: 100%;
    transition: .2s ease;
    &:hover {
      transform: scale(1.03);
    }
    a {
      color: rgb(10, 57, 57);
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        font-weight: bold;
      }
    }
    img {
      max-width: 150px;
      border-radius: 15px;
    }
    p {
      margin-bottom: 2px;
      text-align: center;
    }
  }
}


// .carousel {

//   background-color: black;
//   img {
//     max-width: 300px;
//   }
// }
// <img className="d-block w-100" src={oil.image} alt="First slide"/>