.search-wrapper {
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  .title-container {
    margin: 0px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    h1 {
      color: rgb(59, 58, 58);
      font-weight: bolder;
      font-style: italic;
    }

    h5 {
      font-size: 1rem;
      text-decoration: underline;
      font-family: 'Literata', sans-serif;
    }
  }


  .index-body-container {
    .filter-container {
      .button-container {
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        border-right: 1px solid lightgray;
        button {
          display: block;
          background-color: white;
          border: 1px solid $beigebg;
          border-radius: 10px;
          margin-top: 5px;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: 300;
          font-size: 0.9rem;
          font-family: 'Quicksand', sans-serif;

          &:hover {
            background-color: lightgray;
          }

          img {
            max-width: 20px;
            margin-right: 5px;
          }
        }
      }

    }

    .btn {
      margin-top: 20px;
      text-align: center;
      width: 2 0%;
      background-color: #404F45;

      border: none;
      color: white;

      &:hover {
        background-color: #2a342d;
        color: white;

      }
    }
  }

  .search-container {
    width: 100%;
    margin-bottom: 5px;

    input {
      border-radius: 15px;
      border: 1px solid rgb(255, 255, 255);
      padding-left: 20px;
      width: 300px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: rgb(238, 235, 230);

      &:hover {
        transition: 0.2s ease-in-out;
        border: 1px solid white;
        box-shadow: 0px 2px 20px 0px rgba(65, 91, 77, 0.2);
      }

      &:focus {
        outline: none;
        border: 1px solid rgb(65, 91, 77);
      }
    }

    ::placeholder {
      font-size: 0.9rem;
    }
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 30px;

  }

  .card-container {
    position: relative;
    border-radius: 200px;
    max-height: 180px;
    max-width: 150px;
    transition: .3s ease;

    p {
      text-decoration: none;
    }

    a {
      text-decoration: none;
      color: black;

      img {
        height: 150px;
        border-radius: 15px;
        width: 150px;
        object-fit: cover;
        transition: .3s ease;
      }

    
    }
    &:hover {

      transform: scale(1.03);

      img {
        box-shadow: 0px 10px 20px 0px lightgray;
      }

    }
  }

  .content {
    margin-top: 30px;
    text-align: left;

    p {
      margin: 0px;
      font-weight: bold;

      ul {
        margin: 0px;
      }

      span,
      li {
        font-weight: normal;
      }
    }
  }
}

.btn-clicked {
  background-color: rgb(228, 221, 209) !important;
}

h5 {
  color: rgb(80, 74, 62);
}

// ! Break Points

@media (max-width: 768px) {
  .search-wrapper {
    .index-body-container {
      .filter-container {
        .button-container {
          border-right: 1px solid transparent;
          h5{

            font-size: 0.9rem;
          }
        }
      }
    }

    .card-container {
      position: relative;
      border-radius: 200px;
      max-height: 150px;
      max-width: 120px;
      transition: .3s ease;
  
      p {
        text-decoration: none;
      }
  
      a {
        text-decoration: none;
        color: black;
  
        img {
          height: 120px;
          border-radius: 15px;
          width: 120px;
          object-fit: cover;
          transition: .3s ease;
        }
      }
    }
  
  }

}