.recipe-form-wrapper{
  max-width: 1200px;
  justify-content: center;
  padding: 10px;
  text-align: center;
  .header-wrapper{
    border-radius: 15px 15px 0px 0px;
  }
  h1 {
    font-style: italic;
    font-weight: bold;
  }
  h3{
    font-style: italic;
    font-weight: 600;
  }
  form {
    border-radius: 8px;
    padding: 25px;
    background-color: $lightbg;
    margin-top: 20px;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
  
  }
  .row {
    justify-content: center;
    margin: auto;
    text-align: left;
    label {
      padding: 0px;
      margin-bottom: 8px;
      font-weight: 500;
    }
    input {
      border-radius: 8px;
      border: 1px solid rgb(222, 222, 222);
      padding-left: 20px;
      margin-bottom: 15px;
      padding: 10px;

      &:focus {
        outline: none;
        border: 1px solid #EBD35D;
      }
    }
  }

  .btn {
    margin-top: 20px;
    text-align: center;
    width: 40%;
    background-color: #EBD35D;
    background-color: #b5e2de;
    font-weight: 500;
    border: none;
    &:hover{
      box-shadow: 2px 2px 0px #EBD35D;
    }
  }

  a {
    text-decoration: none;
    color: rgb(209, 7, 77);
  }
  textarea {
    width: 100%;
    // min-height: 212px;
    max-height: 212px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid lightgray;
    // background-color: rgb(245, 245, 245);
    color: black;
    font-size: 0.9rem;
    padding: 10px;
    &:focus {
      outline: none;
      border: 1px solid #EBD35D;
    }
  }
}

.ingredient-form-wrapper{
  .ingredient-form-container {
    form {
      background-color: rgb(247, 243, 238);
      border-radius: 10px;
      border: 1px solid transparent;
    }
    button {
      background-color: $greybg;
      border: 1px solid transparent;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 10px;
      transition: 0.5s ease;
      &:hover{
        background-color: $darkgreybg;
      }
    }
    .remove {
      border-radius: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 6px;
      padding-right: 6px;
      background-color: rgb(179, 84, 53);
      transition: 0.2s ease;
      color: white;
      &:hover {
        background-color: rgb(120, 59, 39);
      }
    }
    .amounts {
      .col {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-right: 10px;
        gap: 5px;
      }
      input {
        max-width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

}


.recipe-submit {
  padding: 10px;
  max-width: 30%;
  background-color: #404F45;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  transition: 0.3s ease;
  &:hover{
    background-color: #2a342d;
  }
}

#edit-recipe{
  max-width: 700px;
}