.navbar {
  // background: rgba(251, 251, 251, 0.588);
  background: #404F45;
  // background: #1c4b35;
  color: white;
  // border-bottom: 1px dashed #F8D549;
  // min-height: 50px;
  .logo {
    color: white;
    font-style: italic;
    
  }
  .nav-link{
    text-decoration: none;
    text-align: right;
    font-weight: 300;
    // background-color: blue;
    &:hover{
      transition: 0.2s ease-in-out;
      text-decoration: underline;
      
    }
  }
}

.underline {
  display: inline-block;
}

.underline::after {
  content: '';
  width: 0%;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

.underline:hover::after {
  width: 100%;
}
