.navbar {
  background: #404F45;
  color: white;
  overflow-y: visible;
  .logo {
    color: white;
    font-style: italic;
    font-family: 'Literata';
    
  }
  .nav-link{
    text-decoration: none;
    text-align: right;
    font-weight: 300;
    &:hover{
      transition: 0.2s ease-in-out;
      text-decoration: underline;
      
    }
  }
}

.underline {
  display: inline-block;
}

.underline::after {
  content: '';
  width: 0%;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

.underline:hover::after {
  width: 100%;
}
